<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer-center">
        <StackLayout row="0" class="sidedrawer-header">
            <!--<StackLayout class="sidedrawer-header-image">-->
                    <Label class="fa sidedrawer-header-image header-icon" text="&#xf2bd;"></Label>
            <!--</StackLayout>-->
            
            <Label class="sidedrawer-header-brand" text="User Name"></Label>
        </StackLayout>
    
        <ScrollView row="1" class="sidedrawer-content">
            <StackLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/contacts')" [class.active]="isComponentSelected('/contacts')" (tap)="onNavItemTap('/contacts')">
                    <Label class="sidedrawer-list-item-icon fa" col="0" text="&#xf0ca;"></Label>
                    <Label class="sidedrawer-list-item-text" col="1" text="List Master-Detail"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/imagegrid')" [class.active]="isComponentSelected('/imagegrid')" (tap)="onNavItemTap('/imagegrid')">
                    <Label class="sidedrawer-list-item-icon fa" col="0" text="&#xf009;"></Label>
                    <Label class="sidedrawer-list-item-text" col="1" text="Grid"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/images')" [class.active]="isComponentSelected('/images')" (tap)="onNavItemTap('/images')">
                    <Label class="sidedrawer-list-item-icon fa" col="0" text="&#xf302;"></Label>
                    <Label class="sidedrawer-list-item-text" col="1" text="Images"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/charts')" [class.active]="isComponentSelected('/charts')" (tap)="onNavItemTap('/charts')">
                    <Label class="sidedrawer-list-item-icon fa" col="0" text="&#xf201;"></Label>
                    <Label class="sidedrawer-list-item-text" col="1" text="Charts"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/inputs')" [class.active]="isComponentSelected('/inputs')" (tap)="onNavItemTap('/inputs')">
                    <Label class="sidedrawer-list-item-icon fa" col="0" text="&#xf11c;"></Label>
                    <Label class="sidedrawer-list-item-text" col="1" text="Inputs"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/themes')" [class.active]="isComponentSelected('/themes')" (tap)="onNavItemTap('/themes')">
                    <Label class="sidedrawer-list-item-icon fa" col="0" text="&#xf53f;"></Label>
                    <Label class="sidedrawer-list-item-text" col="1" text="Themes"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/screen')" [class.active]="isComponentSelected('/screen')" (tap)="onNavItemTap('/screen')">
                    <Label class="sidedrawer-list-item-icon fa" col="0" text="&#xf065;"></Label>
                    <Label class="sidedrawer-list-item-text" col="1" text="Screen sizes"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>

<!--<page-router-outlet></page-router-outlet>-->