<ActionBar title="Details" class="action-bar">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="backPressed()"></NavigationButton>
    <ActionItem class="action-item" ios.systemIcon="3" ios.position="right" android.systemIcon="ic_menu_save" (tap)="savePressed()"></ActionItem>
</ActionBar>

<!--<StackLayout class="form">
    <StackLayout class="input-field">
        <Label text="Name" class="label"></Label>
        <TextField class="input" [(ngModel)]="contact.name"></TextField>
    </StackLayout>
    <StackLayout class="input-field">
        <Label text="Email" class="label"></Label>
        <TextField class="input input-" [(ngModel)]="contact.email"></TextField>
    </StackLayout>
    
</StackLayout>-->
<StackLayout class="form">

        <!-- Option 1: An input with no label, and a bottom border -->
        <StackLayout class="input-field">
          <TextField hint="Option 1" class="input" height="50"></TextField>
        </StackLayout>
    </StackLayout>